<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
  <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
    <property name="hibernateProperties">
      <props>
        <!--  <prop key="hibernate.hbm2ddl.auto">create</prop> -->
        <prop key="hibernate.connection.pool_size">1</prop>
        <prop key="hibernate.show_sql">false</prop>
        <prop key="hibernate.connection.autocommit">true</prop>

        <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
        <prop key="hibernate.connection.driver_class">com.mysql.jdbc.Driver</prop>
        <prop key="hibernate.connection.url">jdbc:mysql://localhost:3306/school</prop>
        <prop key="hibernate.connection.username">root</prop>
        <prop key="hibernate.connection.password">root</prop>
      </props>
    </property>
    <property name="annotatedClasses">
      <list>
        <value>com.prabhat.hibernate.entity.User</value>
        <value>com.prabhat.hibernate.entity.School</value>
        <value>com.prabhat.hibernate.entity.Question</value>
        <value>com.prabhat.hibernate.entity.Test</value>
        <value>com.prabhat.hibernate.entity.UserTestAns</value>
        <value>com.prabhat.hibernate.entity.UserClass</value>
      </list>
    </property>
  </bean>

  <bean id="hibernateInterceptor" class="org.springframework.orm.hibernate3.HibernateInterceptor" autowire="byName" /><!--sessionFactory will get autowired-->

  <bean id="userDaoTarget" class="com.prabhat.hibernate.dao.UserDaoImpl" autowire="byName" /><!--sessionFactory will get autowired-->
  
  <bean id="testDaoTarget" class="com.prabhat.hibernate.dao.TestDaoImpl" autowire="byName" />
 

  <bean id="userDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.prabhat.hibernate.dao.UserDao</value>
    </property>
    <property name="interceptorNames">
      <list>
        <value>hibernateInterceptor</value>
        <value>userDaoTarget</value>
      </list>
    </property>
  </bean>
  
  <bean id="testDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.prabhat.hibernate.dao.TestDao</value>
    </property>
    <property name="interceptorNames">
      <list>
        <value>hibernateInterceptor</value>
        <value>testDaoTarget</value>
      </list>
    </property>
  </bean>
  
</beans>